{{with .Site.Data.gallery}}
{{if .enable}}
<section class="gallery" id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>{{ .title | safeHTML }}</h2>
          <p>
            {{.subtitle}}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      {{ range .galleryImage }}
        <div class="col-md-6">
          <div class="gallery-item d-flex justify-content-center align-items-center" style="height: 350px;" >
            <a href="{{ .image | absURL }}" data-source="{{ .image | absURL }}"
                title="gallery" style="width: 100%;" class="d-flex justify-content-center align-items-center">
                <img src="{{ .image | absURL }}" alt="gallery-images"  style=" object-fit: cover; width: auto;">
            </a>
          </div>
        </div>
      {{end }}
    </div>
  </div>
</section>
{{end}}
{{end}}